---
import { iconsData } from "../../../data/commonDatas";
import { Image } from "astro:assets";

const { tech } = Astro.props;
  const findIcon = iconsData.find((obj) => obj.name === tech.name);
  console.log(findIcon)
---

    <div>
      <Image src={findIcon.image}  alt="javascript logo" class="tableRowJs w-[30px] h-[31px] sm:w-[40px] sm:h-[41px]"/>
      <Image
        src={findIcon.imageHover}
        class="tableRowJsHover w-[30px] h-[31px] sm:w-[40px] sm:h-[41px]"
        alt="javascript logo"
      />
    </div>