---
import Layout from '../layouts/Layout.astro';
import {Card} from '../components';
---

<Layout title="Dev resources">
	<main>
	 	<h1 class="text-3xl font-bold text-blue-500">
    	Dev Resources Info
  		</h1>
	</main>
	<Card/>
</Layout>

<style>
	
</style>
