@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}

body {
  max-width: 2000px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
  padding-top: 10rem;
}

::-webkit-scrollbar-track {
  background: #3129e714;
}

::-webkit-scrollbar-thumb {
  background: #3129e7;
  border-radius: 0.5px;
}

.suggestionScroll::-webkit-scrollbar {
  display: none;
}

.color {
  color: #261fa776;
}

.gradient-border-bottom {
  border-image: linear-gradient(to right, #c201ca, #a549ff, #3129e7);
  border-image-slice: 1;
}

.primaryBtn {
  background: linear-gradient(133deg, #c201ca 20.28%, #3129e7 83.49%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
}

.confTable:hover .tableRowConf {
  color: #535576;
}

.confTable:hover .tableRowConfYear {
  color: #686c8f;
}

.confTable:hover .tableRowTitle {
  background: linear-gradient(90deg, #c201ca 12.99%, #3129e7 80.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tableRowJs {
  display: block;
}

.confTable:hover .tableRowJs {
  display: none;
}

.tableRowJsHover {
  display: none;
}

.confTable:hover .tableRowJsHover {
  display: block;
}

/*switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid rgba(2, 0, 20, 0.15);

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #c0bfc4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

.color {
  color: #3129e714;
}

.modalShadow {
  box-shadow: 0px 8px 16px 0px rgba(104, 101, 179, 0.12);
}
