---
import Layout from '../../layouts/layout/Layout.astro';

---

<Layout title="Dev resources">
	<main>
	 	<h1 class="text-[30px] sm:text-[40px] lg:text-[56px] font-[800] text-neutral-base -tracking-[1.12px] mt-[40px]">
            Podcasts
  		</h1>
	</main>
	
</Layout>